[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
python-dotenv = "*"
requests = "*"
psycopg2-binary = "*"
email-validator = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
app = {editable = true, path = "."}

[scripts]
tests = "python -m pytest tests"
tests-cov = "python -m pytest tests --cov app"
tests-cov-html = "python -m pytest tests --cov-report html --cov app"
linter = "flake8 app/ tests/ scripts/"
server = "python run_server.py"
# WARNING: running the following scripts may cause inevitable loss of information
drop-all-tables = "python scripts/drop_all_db_tables.py"
drop-all-test-tables = "python scripts/drop_all_test_db_tables.py"

[requires]
python_version = "3.9"
